.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#banner {
  align-content: center;
  color: hsla(281, 93%, 12%, 0.932);
  font-style: oblique;
}

.colum {
  border-left: 6px solid green;
  height: auto;
}
.Header {
  overflow: hidden;
  height: 100px;
  padding: 20px 10px;
  list-style-type: none;
  font-style: oblique;
  text-align: center;
  display: flex;
  width: 33%;
  justify-content: space-evenly;
}
